-c requirements.txt

pytest>=9.1.1
pytest-faker>=1.0.0
pytest-asyncio>=1.4.0
pytest-cov>=3.0.0
pytest-mock>=3.0.0
pytest-dotenv>=0.5.2
respx>=0.22.0
responses>=0.26.1
pre-commit>=4.6.0
commitizen>=4.16.4