name: Build image

permissions:
  contents: read
  id-token: write

on:
  workflow_run:
    workflows: ["Tests"]
    types: [completed]

jobs:
  build:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.workflow_run.head_sha }}

      - uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - uses: google-github-actions/setup-gcloud@v2

      - name: Configure Docker
        run: gcloud auth configure-docker europe-north1-docker.pkg.dev

      - name: Set target project
        run: |
          BRANCH="${{ github.event.workflow_run.head_branch }}"
          echo "Branch: $BRANCH"

          if [ "$BRANCH" = "main" ]; then
            echo "PROJECT_ID=openjobseu" >> $GITHUB_ENV
          else
            echo "PROJECT_ID=dev-openjobseu" >> $GITHUB_ENV

      - name: Build & push
        env:
          SHA: ${{ github.event.workflow_run.head_sha }}

        run: |

          IMAGE=europe-north1-docker.pkg.dev/$PROJECT_ID/$PROJECT_ID/$PROJECT_ID

          docker build -t $IMAGE:$SHA .
          docker push $IMAGE:$SHA




