name: Tests

permissions:
  contents: read
  packages: write

on:
  push:
    branches:
      - main
      - ci/**
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  pytest:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"


      - name: Cache pip
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        run: |
          pytest -q

  docker-build:
    runs-on: ubuntu-latest
    needs: pytest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Configure Docker for Artifact Registry
        run: |
          gcloud auth configure-docker europe-north1-docker.pkg.dev

      - name: Build and push Docker image
        env:
          IMAGE_BASE: europe-north1-docker.pkg.dev/openjobseu/openjobseu/openjobseu
        run: |
          TAG_SHA=$(git rev-parse --short HEAD)

          docker build -t $IMAGE_BASE:$TAG_SHA .
          docker push $IMAGE_BASE:$TAG_SHA

          docker tag $IMAGE_BASE:$TAG_SHA $IMAGE_BASE:latest
          docker push $IMAGE_BASE:latest
